@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #020008;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}